---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";


// components
import PostCard from "@components/PostCard/PostCardAtlas.astro";
import BlogGrid from "@components/Blog/BlogGrid.astro";

// utils
import { getAllPosts } from "@js/blogUtils";

const posts = await getAllPosts();
---

<BaseLayout title="Foundations Blog" description="Learn from the best Seattle Founders">
	<section class="site-container space-y-12">
		<div
			class="overflow-x-clip bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat pt-24 md:pt-32 dark:bg-[url('/assets/pattern-dark.svg')]"
		>
			<div class="mx-auto flex max-w-[950px] flex-col justify-center">
				<h1 class="h1 text-center">Foundations Blog</h1>
			</div>
		</div>

		<BlogGrid posts={posts} />
	</section>
</BaseLayout>
