---
import { Image } from "astro:assets";

// Define props interface
interface Props {
	group?: 1 | 2; // Optional prop to specify which group of images to display (1 or 2)
}

const { group = 1 } = Astro.props;

// images
interface MarqueeImages {
	images: ImageMetadata[]; // imported images
}

import image1 from "@images/space/1.jpg";
import image2 from "@images/space/2.jpg";
import image3 from "@images/space/3.jpg";
import image4 from "@images/space/4.jpg";
import image5 from "@images/space/5.jpg";
import image6 from "@images/space/6.jpg";
import image7 from "@images/space/7.jpg";
import image8 from "@images/space/8.jpg";
import image9 from "@images/space/9.jpg";
import image10 from "@images/space/10.jpg";
import image11 from "@images/space/11.jpg";
import image12 from "@images/space/12.jpg";
import image14 from "@images/space/14.jpg";
import image15 from "@images/space/15.jpg";

const allImages = [
	image1,
	image2,
	image3,
	image4,
	image5,
	image6,
	image7,
	image8,
	image9,
	image10,
	image11,
	image12,
	image14,
	image15,
];

const groupOneImages = allImages.slice(0, Math.ceil(allImages.length / 2));
const groupTwoImages = allImages.slice(Math.ceil(allImages.length / 2));
---

<section id="feature-gallery-marquee" class="bg-center bg-no-repeat py-8 dark:bg-none">
	<div class="relative flex flex-col gap-2 overflow-hidden">
		<!-- marquee top row - moving right -->
		<div class="marquee-right relative flex gap-2 overflow-hidden">
			<div class="animate-marquee flex min-w-full shrink-0 items-center gap-2">
				{
					groupOneImages.map((image) => (
						<Image
							src={image}
							alt=""
							loading="lazy"
							width={600}
							class="aspect-[4/3] max-w-80 rounded-md object-cover shadow-md"
						/>
					))
				}
			</div>
			<div class="animate-marquee flex min-w-full shrink-0 items-center gap-2">
				{
					groupOneImages.map((image) => (
						<Image
							src={image}
							alt=""
							loading="lazy"
							width={600}
							class="aspect-[4/3] max-w-80 rounded-md object-cover shadow-md"
						/>
					))
				}
			</div>
		</div>

		<!-- marquee bottom row - moving left -->
		<div class="marquee-right relative flex gap-2 overflow-hidden">
			<div class="animate-marquee-reverse flex min-w-full shrink-0 items-center gap-2">
				{
					groupTwoImages.map((image) => (
						<Image
							src={image}
							alt=""
							loading="lazy"
							width={600}
							class="aspect-[4/3] max-w-80 rounded-md object-cover shadow-md"
						/>
					))
				}
			</div>
			<div class="animate-marquee-reverse flex min-w-full shrink-0 items-center gap-2">
				{
					groupTwoImages.map((image) => (
						<Image
							src={image}
							alt=""
							loading="lazy"
							width={600}
							class="aspect-[4/3] max-w-80 rounded-md object-cover shadow-md"
						/>
					))
				}
			</div>
		</div>
	</div>

	<style>
		@keyframes marquee {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(-100%);
			}
		}

		@keyframes marquee-reverse {
			0% {
				transform: translateX(-100%);
			}
			100% {
				transform: translateX(0);
			}
		}

		.animate-marquee {
			animation: marquee 150s linear infinite;
		}

		.animate-marquee-reverse {
			animation: marquee-reverse 150s linear infinite;
		}
	</style>
</section>
